.search-bar {
    padding: 8px 14px;
}

.search-bar-border-round {
    border-radius: 30px;
}

.search-bar:hover {
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 10%);
}

.search-bar:focus-within {
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 10%);
}

.search-bar input {
    height: 100%;
    width: 90%;
    font-size: 16px;
    border: none;
    outline: none;
}

.search-bar span {
    width: 10%;
}

.search-bar span svg {
    cursor: pointer;
    color: var(--purple);
}

.search.showResults > .results {
    border: 1px solid #ccc;
}

.results {
    position: absolute;
    top: 45px;
    left: 0px;
    border: 0px;
    box-sizing: border-box;
    background: #fff;
    z-index: 25;
}


.result {
    padding: 8px 14px;
    cursor: pointer;
}

.result:hover {
    background: var(--muted)
}